.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh.master.item-box { position: relative; background-color: rgb(218, 218, 218); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-element.Link.hover-tester { color: rgb(46, 92, 124); background-color: rgba(147, 147, 147, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh.master.item-box { padding-left: 2%; width: 96%; padding-right: 2%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-item-links { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-content-holder { border-color: rgb(214, 214, 214); max-width: 2000px; margin-right: 0px; margin-top: 0px; margin-left: 0px; background-color: rgba(248, 248, 248, 0); text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh #sr-basket-widget * { font-size: calc(10px + 0rem); font-weight: bold; color: rgb(0, 0, 0); padding: 10px; border-color: rgb(246, 246, 246); letter-spacing: 0.05em; max-width: 1150px; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-body h1 { font-size: calc(10px + 2rem); color: rgb(0, 0, 0); letter-spacing: 0em; margin-left: 0px; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-item-links.allow-bg-color, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .submenu { background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-title-holder { text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-subtitle-holder { text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .stripe-background { margin-left: -2%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-element.icon-source { margin-right: 10px; margin-top: 10px; margin-left: 10px; width: 30px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-content-wrapper { vertical-align: bottom; text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-aymingzh .preview-body h2 { font-size: calc(10px + 0rem); text-transform: uppercase; color: rgb(67, 67, 67); letter-spacing: 0.1em; margin-right: 0px; margin-top: 5px; margin-left: 0px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .title-holder { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview.image-cover { background-color: rgba(255, 255, 255, 0); margin-top: 20px; margin-bottom: 20px; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .Title, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .Body h1 { color: rgb(138, 115, 115); letter-spacing: 0.15em; font-family: open-sans; font-size: calc(10px + 26rem); font-weight: bold; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-content-holder { margin: 0px; padding: 0px; text-align: center; max-width: 360px; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-icon-holder .icon-source { width: 70px; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth #pagination-holder { font-style: italic; font-size: calc(10px + 7rem); color: rgb(76, 76, 76); padding: 5px 15px; border-color: rgb(85, 85, 85); border-width: 1px; margin-bottom: 40px; font-family: 'Times New Roman'; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-item-links .Link:hover { color: rgb(255, 255, 255); background-color: rgb(74, 74, 74); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .background-div { background-size: contain; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth.master.item-box { background-color: rgb(243, 243, 243); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-title, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-body h1 { line-height: 1.2em; font-size: calc(10px + 3rem); color: rgb(0, 0, 0); letter-spacing: -0.05em; margin-top: 15px; margin-bottom: 0px; font-family: Montserrat; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth.master.item-box { padding-left: 6%; width: 88%; padding-right: 6%; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth #sr-basket-widget * { border-width: 0px; font-size: calc(10px + 30rem); color: rgb(0, 0, 0); padding: 10px 15px; border-color: rgb(0, 0, 0); letter-spacing: 0.1em; margin-top: 15px; border-top-left-radius: 19px; border-top-right-radius: 19px; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; margin-bottom: 30px; font-family: Arial; background-color: rgb(136, 136, 136); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-body { margin-bottom: 10px; font-family: Arial; font-size: calc(10px + 2rem); line-height: 1.4em; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .stripe-background { opacity: 0.16; -webkit-filter: grayscale(100%) brightness(0.8); margin-top: -15px; margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-element.icon-source { padding-top: 2px; margin-bottom: 0px; color: rgb(0, 0, 0); margin-top: 0px; width: 170px; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-content-holder { margin-bottom: 15px; text-align: center; margin-top: 15px; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .Subtitle, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .Body h2 { font-family: ralewaythin; font-size: calc(10px + 12rem); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-subtitle { font-size: calc(10px + 4rem); color: rgb(0, 0, 0); letter-spacing: 0.25em; margin-top: 10px; margin-bottom: 10px; font-family: Raleway; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-icon-holder { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-content-wrapper { text-align: center; vertical-align: middle; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-body-holder { max-width: 800px; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-element.Link.hover-tester { color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .subtitle-holder { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .inner-pic-holder { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-divider { border-bottom-width: 3px; width: 10%; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-item-links span::before, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .effect-tester { background-color: rgb(83, 83, 83); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .inner-pic { opacity: 0.96; color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-title { font-size: calc(10px + 10rem); text-transform: uppercase; letter-spacing: 0em; margin-top: 10px; margin-bottom: 10px; font-family: Montserrat; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-body { font-family: Arial; font-size: calc(10px + 2rem); color: rgb(140, 140, 140); max-width: 500px; margin-top: 15px; margin-bottom: 10px; line-height: 1.6em; }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .blocks-preview-item-links .Link { font-size: calc(10px + 5rem); color: rgb(255, 255, 255); padding: 5px 15px; margin-top: 10px; border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-bottom-left-radius: 18px; margin-bottom: 10px; border-width: 0px; background-color: rgb(136, 136, 136); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .pic-side::after, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .item-effect-tester, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .sub.item-box::after { background-color: rgb(255, 231, 66); }

.style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-27163506-svitnpth .preview-body h2 { line-height: 1.4em; font-size: calc(10px + 2rem); color: rgb(83, 83, 83); letter-spacing: 0.05em; margin-right: 0px; margin-top: 5px; margin-left: 0px; font-family: Arial; }

.style-27163506-svitnpth #vbid-27163506-tnlzqadf.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-nefz10fq.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-rbytquma.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-jjtxa0ga.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-mfskdekr.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-tqvgjt0w.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-gic5uxto.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-eaduyoed.inner-pic { background-size: contain; }

.style-27163506-svitnpth #vbid-27163506-v7dbltsl.inner-pic { background-size: cover; }

.master .style-9d4e0c1f-ik1ygl76 .Body { font-size: calc(10px + 2rem); max-width: 650px; margin-right: 20px; margin-left: 20px; margin-bottom: 10px; line-height: 1.4em; }

.master .style-9d4e0c1f-ik1ygl76 .Subtitle, .master .style-9d4e0c1f-ik1ygl76 .Body h2 { font-size: calc(10px + 5rem); color: rgb(110, 110, 110); max-width: 650px; letter-spacing: 0.1em; margin: 15px 20px; font-family: Arial; }

.master .style-9d4e0c1f-ik1ygl76 .quote-holder { margin-bottom: 45px; margin-top: 35px; }

.master .style-9d4e0c1f-ik1ygl76 .Title, .master .style-9d4e0c1f-ik1ygl76 .Body h1 { font-size: calc(10px + 12rem); color: rgb(0, 0, 0); max-width: 650px; letter-spacing: 0.05em; margin-right: 20px; margin-top: 30px; margin-left: 20px; font-family: Montserrat; }

.master .style-9d4e0c1f-ik1ygl76 .link-wrapper { max-width: 1058px; }

.master .style-9d4e0c1f-ik1ygl76 .Quote { margin-right: 50px; font-family: 'Times New Roman'; font-size: calc(10px + 9rem); margin-left: 50px; font-style: italic; }

.master .style-9d4e0c1f-ik1ygl76 .raw-container { margin-right: 5px; }

.master .style-9d4e0c1f-ik1ygl76 .quote-author { font-style: italic; font-size: calc(10px + 9rem); color: rgb(124, 124, 124); margin-right: 50px; margin-top: 10px; margin-left: 50px; font-family: 'Times New Roman'; }

.master .style-9d4e0c1f-ik1ygl76 .title-wrapper { max-width: 1180px; }

.master .style-9d4e0c1f-ik1ygl76 .item-links span { border-width: 1px; font-size: calc(10px + 3rem); color: rgb(0, 0, 0); padding: 10px 15px; letter-spacing: 0.1em; margin-top: 20px; margin-bottom: 20px; font-family: Arial; background-color: rgba(66, 117, 83, 0); margin-left: 50px; }

.master .style-9d4e0c1f-ik1ygl76 .subtitle-wrapper { max-width: 1180px; }

.master .style-9d4e0c1f-ik1ygl76 .body-wrapper { max-width: 1032px; }

.style-9d4e0c1f-ik1ygl76.master.container > #children { background-color: rgb(218, 218, 218); }

.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom), .master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { font-family: Montserrat; letter-spacing: -0.05em; line-height: 1.4em; }

.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom) { font-family: Montserrat; letter-spacing: 0.05em; border-width: 2px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height: 1.3em; }

.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom), .master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { font-family: Montserrat; letter-spacing: -0.05em; }

.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom), .master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { font-family: Arial; letter-spacing: 0.05em; line-height: 1.9em; }

body { background-color: rgb(251, 251, 251); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-content-holder { margin: 0px; padding: 0px; text-align: center; max-width: 500px; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .item-content:not(.blocks_layout) { background-color: rgb(197, 197, 197); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-divider { border-style: solid; border-bottom-width: 8px; border-color: rgb(27, 74, 115); width: 50%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .inner-pic { opacity: 1; color: rgb(0, 0, 0); -webkit-filter: brightness(0.6); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-subtitle-holder { max-width: 1050px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .background-div { }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu.master.item-box { background-color: rgb(41, 41, 41); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-body h1 { line-height: 0.9em; font-size: calc(10px + 10rem); color: rgb(0, 0, 0); letter-spacing: 0.05em; margin-top: 10px; margin-bottom: 0px; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu #sr-basket-widget * { border-width: 2px; font-size: calc(10px + 2rem); color: rgb(27, 74, 115); padding: 10px 30px; border-color: rgb(27, 74, 115); letter-spacing: 0.1em; margin-top: 20px; border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-bottom-left-radius: 18px; font-family: Arial; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-element.icon-source { margin-bottom: 15px; width: 60px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-item-links span::before, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .effect-tester { background-color: rgb(27, 74, 115); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-body-holder { max-width: 800px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-content-wrapper { text-align: center; vertical-align: middle; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-element.Link.hover-tester { color: rgb(255, 255, 255); background-color: rgb(27, 74, 115); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .inner-pic-holder { background-color: rgb(197, 197, 197); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-icon-holder { margin-bottom: 40px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-body { line-height: 1.6em; font-size: calc(10px + 4rem); text-transform: uppercase; color: rgb(0, 0, 0); max-width: 800px; margin-top: 20px; margin-bottom: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-m25zf5vu .preview-body h2 { font-family: Montserrat; font-size: calc(10px + 4rem); color: rgb(0, 0, 0); letter-spacing: 0em; margin: 5px 0px 10px; line-height: 1.6em; }

.style-9d4e0c1f-m25zf5vu #vbid-9d4e0c1f-ypeqiqhs .preview-content-holder { text-align: center; }

.style-9d4e0c1f-m25zf5vu #vbid-9d4e0c1f-76aamqq2.inner-pic { background-position: 49.2685470581055% 69.2805786132813%; }

.style-9d4e0c1f-m25zf5vu #vbid-9d4e0c1f-u5faf6id.inner-pic { background-position: 46.7898% 73.5531%; }

.style-9d4e0c1f-m25zf5vu #vbid-9d4e0c1f-tfl0naal.inner-pic { background-position: 50% 50%; }

.style-9d4e0c1f-m25zf5vu #vbid-9d4e0c1f-ypeqiqhs .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y.master.item-box { background-color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-body h1 { line-height: 1em; font-size: calc(10px + 32rem); color: rgb(255, 255, 255); letter-spacing: -0.1em; font-weight: bold; margin-top: 5px; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y.master.item-box { padding-left: 0%; padding-right: 0%; width: 100%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-body h2 { font-family: Montserrat; font-size: calc(10px + 14rem); margin: 0px 0px 5px; color: rgb(255, 255, 255); letter-spacing: -0.05em; font-weight: bold; line-height: 1em; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .inner-pic-holder { background-color: rgb(27, 74, 115); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-content-holder { margin: 0px; padding: 0px; text-align: left; max-width: 750px; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y #sr-basket-widget * { font-size: calc(10px + 13rem); color: rgb(255, 255, 255); padding: 15px 30px; border-color: rgb(255, 255, 255); letter-spacing: 0.15em; margin-top: 30px; border-top-left-radius: 22px; border-top-right-radius: 22px; border-bottom-right-radius: 22px; border-bottom-left-radius: 22px; font-family: Arial; background-color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-element.Link.hover-tester { color: rgb(46, 92, 124); background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .item-content:not(.blocks_layout) { background-color: rgb(197, 197, 197); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-divider { margin-bottom: 10px; border-color: rgb(255, 255, 255); margin-top: 10px; border-bottom-width: 7px; width: 15%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-icon-holder { margin-bottom: 40px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .inner-pic { opacity: 0.2; -webkit-filter: grayscale(100%); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .stripe-background { margin-left: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-element.icon-source { margin-bottom: 15px; width: 60px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-content-wrapper { text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .preview-body { line-height: 1.4em; font-size: calc(10px + 2rem); color: rgb(255, 255, 255); max-width: 600px; margin-top: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rtzvj40y .background-div { opacity: 0.8; }

.style-9d4e0c1f-rtzvj40y #vbid-9d4e0c1f-j2ahcnyy .preview-content-holder { text-align: center; }

.style-9d4e0c1f-rtzvj40y #vbid-9d4e0c1f-ucdz5zcb.inner-pic { background-position: 37.8203% 40.2651%, 37.8203% 40.2651%; }

.style-9d4e0c1f-rtzvj40y #vbid-9d4e0c1f-j2ahcnyy .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-content-holder { margin: 30px; padding: 0px; text-align: center; max-width: 500px; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .item-content:not(.blocks_layout) { background-color: rgb(41, 41, 41); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-divider { margin-bottom: 10px; border-bottom-width: 8px; margin-top: 10px; border-color: rgb(27, 74, 115); width: 10%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .inner-pic { color: rgb(0, 0, 0); opacity: 0.96; -webkit-filter: brightness(0.6); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field { border: 1px solid rgba(0, 0, 0, 0); font-size: calc(10px + 4rem); color: rgb(255, 255, 255); padding: 10px 10px 15px 15px; max-width: 500px; min-width: 221px; font-family: Raleway; background-color: rgb(197, 197, 197); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field.hover-tester:not(.placeholder-mode) { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field:not(.placeholder-mode):not(.no-value):not(:hover) { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .background-div { opacity: 0.4; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh.master.item-box { background-color: rgb(239, 239, 239); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-body h1 { font-family: Montserrat; font-size: calc(10px + 10rem); color: rgb(251, 251, 251); letter-spacing: -0.05em; margin-top: 10px; margin-bottom: 5px; line-height: 1.1em; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh.master.item-box { padding-left: 0%; width: 100%; padding-right: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh #sr-basket-widget * { border-width: 0px; font-size: calc(10px + 0rem); text-transform: uppercase; color: rgb(255, 255, 255); padding: 15px 30px; border-color: rgba(0, 0, 0, 0); letter-spacing: 0.15em; margin-top: 20px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-bottom: 10px; font-family: Montserrat; background-color: rgb(27, 74, 115); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .stripe-background { margin-left: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-element.icon-source { margin-bottom: 0px; margin-top: 0px; width: 80px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field.placeholder-mode:not(:hover), .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .Field.no-value:not(:hover), .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover) { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-item-links span::before, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .effect-tester { background-color: rgb(53, 53, 53); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-body-holder { max-width: 600px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-element.Link.hover-tester { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .inner-pic-holder { background-color: rgb(251, 251, 251); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-body { line-height: 1.4em; font-size: calc(10px + 2rem); color: rgb(255, 255, 255); letter-spacing: 0em; max-width: 800px; margin-top: 15px; margin-bottom: 20px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .field-holder { }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-pnvy5yeh .preview-body h2 { line-height: 1.1em; font-size: calc(10px + 4rem); color: rgb(48, 48, 48); letter-spacing: 0em; margin: 10px 0px; font-family: Raleway; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-content-holder { text-align: center; max-width: 750px; margin: 30px 0px; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .inner-pic { opacity: 0.95; color: rgb(0, 0, 0); -webkit-filter: none; filter: none; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-subtitle-holder { max-width: 1050px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .multi_layout .helper-div.middle-center { padding-left: 6%; width: 88%; padding-right: 6%; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .background-div { }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle.master.item-box { background-color: rgb(50, 158, 212); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-title, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-body h1 { line-height: 1em; font-size: calc(10px + 22rem); text-transform: uppercase; color: rgb(255, 255, 255); letter-spacing: 0em; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle #sr-basket-widget * { border-width: 0px; font-size: calc(10px + 2rem); margin-right: 10px; color: rgb(255, 255, 255); padding: 10px 30px; border-color: rgb(255, 255, 255); letter-spacing: 0.05em; margin-top: 30px; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; font-family: Raleway; background-color: rgb(67, 67, 67); font-weight: bold; margin-left: 10px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-element.icon-source { margin-bottom: 15px; width: 60px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-item-links span::before, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .effect-tester { background-color: rgb(188, 188, 188); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-body-holder { max-width: 800px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-content-wrapper { text-align: center; vertical-align: middle; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-element.Link.hover-tester { color: rgb(255, 255, 255); background-color: rgb(188, 188, 188); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .inner-pic-holder { background-color: rgb(30, 30, 30); }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-icon-holder { margin-bottom: 40px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-body { line-height: 1.4em; font-size: calc(10px + 2rem); color: rgb(255, 255, 255); max-width: 800px; margin-top: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-404c9be2-axn6msle .preview-body h2 { font-family: Raleway; font-size: calc(10px + 8rem); color: rgb(255, 255, 255); letter-spacing: 0.05em; margin: 10px 0px 5px; line-height: 1.3em; }

.style-404c9be2-axn6msle #vbid-404c9be2-n3s0vdkb .preview-content-holder { text-align: center; }

.style-404c9be2-axn6msle #vbid-404c9be2-zqhjryin.inner-pic { background-position: 50% 50%; }

.style-404c9be2-axn6msle #vbid-404c9be2-n3s0vdkb .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr.master.item-box { background-color: rgb(87, 98, 117); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-body h1 { font-size: calc(10px + 10rem); color: rgb(255, 255, 255); letter-spacing: 0em; margin-top: 0px; margin-bottom: 0px; font-family: 'Times New Roman'; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr.master.item-box { padding-left: 0%; width: 100%; padding-right: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-body h2 { line-height: 1.4em; font-size: calc(10px + 6rem); color: rgb(255, 255, 255); letter-spacing: -0.05em; margin: 10px 0px 15px; font-family: Montserrat; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .inner-pic-holder { background-color: rgb(27, 74, 115); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-content-holder { margin: 30px; padding: 0px; text-align: center; max-width: 650px; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr #sr-basket-widget * { font-size: calc(10px + 2rem); padding: 15px 20px; color: rgb(255, 255, 255); border-color: rgba(255, 255, 255, 0.690196); letter-spacing: 0.1em; margin-right: 5px; margin-top: 25px; font-family: 'Times New Roman'; background-color: rgba(0, 0, 0, 0); margin-left: 5px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .item-content:not(.blocks_layout) { background-color: rgb(87, 98, 117); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-divider { border-color: rgb(0, 0, 0); width: 15%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-icon-holder { -webkit-filter: invert(100%); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .inner-pic { color: rgb(0, 0, 0); opacity: 0.17; -webkit-filter: grayscale(100%) brightness(0.8); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-element.Link.hover-tester { color: rgb(46, 92, 124); background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-body { line-height: 1.6em; font-size: calc(10px + 6rem); color: rgb(227, 227, 227); letter-spacing: 0em; max-width: 800px; margin-top: 15px; margin-bottom: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-element.icon-source { margin-bottom: 25px; width: 120px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .preview-content-wrapper { text-align: center; vertical-align: middle; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .stripe-background { margin-left: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-rwtefjsr .background-div { opacity: 0.4; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-content-holder { margin: 30px 0px; padding: 0px; text-align: left; max-width: 400px; background-color: rgba(0, 0, 0, 0); border-color: rgb(197, 197, 197); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-divider { margin-bottom: 10px; border-color: rgb(0, 0, 0); margin-top: 5px; width: 100%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .inner-pic { opacity: 0.17; color: rgb(0, 0, 0); -webkit-filter: grayscale(100%); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .multi_layout .helper-div.middle-center { padding-left: 6%; width: 88%; padding-right: 6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv.master.item-box { background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-body h1 { font-family: Montserrat; font-size: calc(10px + 4rem); color: rgb(222, 225, 227); letter-spacing: 0em; font-weight: bold; margin-top: 5px; margin-bottom: 10px; line-height: 1.2em; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv #sr-basket-widget * { border-width: 0px; font-size: calc(10px + 2rem); color: rgb(220, 220, 220); padding: 15px 20px; border-color: rgba(0, 0, 0, 0); letter-spacing: 0.1em; text-decoration: underline; margin-top: 10px; font-family: Arial; background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-element.icon-source { color: rgb(255, 255, 255); margin-top: 0px; margin-bottom: 10px; width: 50px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .background-image-div { color: rgb(0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-link-img { width: 24px; margin: 17px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-icon-holder { margin-bottom: 40px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-body-holder { max-width: 500px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-content-wrapper { text-align: left; vertical-align: middle; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-element.Link.hover-tester { color: rgb(81, 186, 146); background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .inner-pic-holder { background-color: rgb(40, 40, 40); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-item-links span::before, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .effect-tester { background-color: rgb(255, 255, 255); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-body { font-family: Arial; font-size: calc(10px + 4rem); color: rgb(89, 89, 89); letter-spacing: 0.2em; max-width: 600px; margin-top: 10px; margin-bottom: 10px; line-height: 1.6em; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-social-holder { margin-bottom: 10px; margin-top: 10px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-ip64wfcv .preview-body h2 { line-height: 1.5em; font-size: calc(10px + 0rem); color: rgb(218, 218, 218); letter-spacing: 0.05em; margin: 15px 0px 10px; font-family: 'Playfair Display'; }

.style-9d4e0c1f-ip64wfcv #vbid-9d4e0c1f-8coae2yy .preview-content-holder { text-align: center; }

.style-9d4e0c1f-ip64wfcv #vbid-9d4e0c1f-6u7n5tue.inner-pic { background-position: 44.6708% 48.2667%; }

.style-9d4e0c1f-ip64wfcv #vbid-9d4e0c1f-8coae2yy .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-title, .style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-body h1 { line-height: 1em; font-size: calc(10px + 35rem); color: rgb(0, 0, 0); letter-spacing: -0.1em; font-weight: bold; margin-top: 5px; font-family: Montserrat; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um.master.item-box { padding-left: 0%; padding-right: 0%; width: 100%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-body h2 { font-family: Montserrat; font-size: calc(10px + 35rem); font-weight: bold; color: rgb(158, 158, 158); letter-spacing: -0.05em; margin: 0px 0px 5px; line-height: 0.8em; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .inner-pic-holder { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-content-holder { margin: 40px 0px; padding: 0px; text-align: left; max-width: 750px; background-color: rgba(255, 255, 255, 0); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um #sr-basket-widget * { font-size: calc(10px + 3rem); color: rgb(255, 255, 255); padding: 10px 30px; border-color: rgb(255, 255, 255); letter-spacing: 0.15em; margin-top: 30px; border-top-left-radius: 22px; border-top-right-radius: 22px; border-bottom-right-radius: 22px; border-bottom-left-radius: 22px; font-family: Arial; background-color: rgb(92, 181, 145); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-element.Link.hover-tester { color: rgb(255, 255, 255); background-color: rgb(65, 166, 125); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-divider { margin-bottom: 10px; border-color: rgb(255, 255, 255); margin-top: 10px; border-bottom-width: 7px; width: 15%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-icon-holder { margin-bottom: 40px; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .inner-pic { opacity: 1; background-size: cover; -webkit-filter: none; filter: none; background-position: 50% 50%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .multi_layout .helper-div.middle-center .pic-side { margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .stripe-background { margin-left: 0%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-element.icon-source { margin-bottom: 15px; width: 60px; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-content-wrapper { text-align: left; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .preview-body { line-height: 1.4em; font-size: calc(10px + 4rem); color: rgb(255, 255, 255); max-width: 600px; margin-top: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .middle_layout .helper-div, .style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .multi_layout .helper-div.middle-center .text-side { max-width: 1000px; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .multi_layout .helper-div.middle-center { padding-left: 6%; padding-right: 6%; width: 88%; }

.style-9d4e0c1f-ik1ygl76 .style-eb7cb239-kkabg9um .background-div { opacity: 0.8; }

.style-eb7cb239-kkabg9um #vbid-eb7cb239-um2asccf .preview-content-holder { text-align: left; }

.style-eb7cb239-kkabg9um #vbid-eb7cb239-ymu5vhi3.inner-pic { background-position: 37.8203% 40.2651%, 37.8203% 40.2651%; }

.style-eb7cb239-kkabg9um #vbid-eb7cb239-um2asccf .preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .title-holder { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .Title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .Body h1 { color: rgb(138, 115, 115); font-size: calc(10px + 26rem); font-family: open-sans; letter-spacing: 0.15em; font-weight: bold; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-content-holder { margin: 0px; padding: 0px; text-align: left; max-width: 300px; border-color: rgb(60, 60, 60); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .item-content:not(.blocks_layout) { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-divider { margin-bottom: 15px; border-bottom-width: 7px; margin-top: 5px; border-color: rgb(46, 92, 124); width: 25%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn #pagination-holder { font-style: italic; font-size: calc(10px + 7rem); font-family: 'Times New Roman'; color: rgb(76, 76, 76); padding: 5px 15px; border-color: rgb(85, 85, 85); margin-bottom: 40px; border-width: 1px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .background-div { }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn.master.item-box { background-color: rgb(40, 40, 40); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-title, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-body h1 { font-family: Montserrat; font-size: calc(10px + 2rem); color: rgb(218, 218, 218); letter-spacing: 0em; margin-top: 10px; line-height: 1.2em; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn.master.item-box { padding-left: 6%; width: 88%; padding-right: 6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-item-links span, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn #sr-basket-widget * { font-family: Arial; font-size: calc(10px + 2rem); color: rgb(99, 99, 99); padding: 10px 15px; border-color: rgb(122, 122, 122); letter-spacing: 0.1em; margin-top: 15px; margin-bottom: 30px; border-width: 1px; background-color: rgba(15, 43, 67, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-body { color: rgb(218, 218, 218); margin-bottom: 10px; line-height: 1.5em; font-size: calc(10px + 4rem); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .stripe-background { opacity: 0.17; -webkit-filter: grayscale(100%) brightness(0.8); margin-top: -10px; margin-left: -6%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-element.icon-source { padding-top: 0px; margin-bottom: 0px; margin-top: 0px; width: 30px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-content-holder { text-align: center; margin-top: 60px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .Subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .Body h2 { font-family: ralewaythin; font-size: calc(10px + 12rem); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-subtitle { font-size: calc(10px + 5rem); color: rgb(255, 255, 255); letter-spacing: 0.05em; margin-top: 10px; margin-bottom: 10px; font-family: Montserrat; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-content-wrapper { text-align: left; vertical-align: top; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-price { font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-item-links span:hover, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-element.Link.hover-tester { color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .subtitle-holder { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .inner-pic-holder { background-color: rgba(0, 0, 0, 0); }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-divider { margin-bottom: 5px; border-bottom-width: 8px; border-color: rgb(27, 74, 115); width: 30%; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-content-wrapper { text-align: center; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-title { line-height: 1.1em; font-size: calc(10px + 10rem); color: rgb(255, 255, 255); letter-spacing: 0em; margin-top: 10px; margin-bottom: 10px; font-family: Montserrat; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-body { line-height: 1.5em; font-size: calc(10px + 4rem); color: rgb(154, 154, 154); max-width: 500px; margin-right: 0px; margin-top: 20px; margin-bottom: 10px; font-family: Arial; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .blocks-preview-item-links .Link { margin: 0px; padding: 0px; }

.style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-subtitle, .style-9d4e0c1f-ik1ygl76 .style-9d4e0c1f-hteabgkn .preview-body h2 { font-family: Abel; font-size: calc(10px + 2rem); color: rgb(154, 154, 154); letter-spacing: 0.35em; margin: 10px 0px 5px; line-height: 1.4em; }